@model FamilyScheduler.Models.DTO.TaskDTO

@{
    ViewData["Title"] = "Details";
}
<!--View used to display the details of a selected Task and its related data.-->
<h1>Details</h1>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskTypeDescription)
        </dt>
        <dd class="col-sm-10">
            @Model.TaskTypeDescription
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkloadDescription)
        </dt>
        <dd class="col-sm-10">
            @Model.WorkloadDescription
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkloadValue)
        </dt>
        <dd class="col-sm-10">
            @Model.WorkloadValue
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FrequencyDescription)
        </dt>
        <dd class="col-sm-10">
            @Model.FrequencyDescription
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FrequencyValue)
        </dt>
        <dd class="col-sm-10">
            @Model.FrequencyValue
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TaskID">Edit</a> |
    <a asp-action="List">Back to List</a>
</div>