@model IEnumerable<FamilyScheduler.Models.DTO.TaskDTO>
@{
    ViewData["Title"] = "Tasks List";
}
<!--View that displays all of the Tasks that exist in database.-->
<h1>Task List</h1>

<div style="float: right">
    <form method="get" asp-controller="Task" asp-action="Create">
        <input type="submit" value="Add Task">
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Task ID</th>
            <th scope="col">Description</th>
            <th scope="col">Workload</th>
            <th scope="col">Frequency</th>
            <th scope="col">Task Type</th>
            <th scope="col">Details</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var el in Model){
            <tr>
                <td>
                    @el.TaskID
                </td>
                <td>
                    @el.Description
                </td>
                <td>
                    @el.WorkloadDescription
                </td>
                <td>
                    @el.FrequencyDescription
                </td>
                <td>
                    @el.TaskTypeDescription
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@el.TaskID">Details</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@el.TaskID">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@el.TaskID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>