@{
    ViewData["Title"] = "Tasks List";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Task ID</th>
            <th scope="col">Description</th>
            <th scope="col">Workload</th>
            <th scope="col">Frequency</th>
            <th scope="col">Task Type</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach(FamilyScheduler.Models.Task el in Model){
            <tr>
                <td>
                    @el.TaskID
                </td>
                <td>
                    @el.Description
                </td>
                <td>
                    @el.Workload
                </td>
                <td>
                    @el.Frequency
                </td>
                <td>
                    @el.TaskType
                </td>
                <td>
                    <form asp-action="Delete" method="post">

                        <input type="submit" value="delete">
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>