@model IEnumerable<FamilyScheduler.Models.DTO.AssignmentDTO>
@{
    ViewData["Title"] = "Schedule List";
}
<!--Displays all of the assignments for the current Schedule. Assigments are separated/sorted by Assigments Due Today and Assigments Due this Week-->
<h1>Assignments for the Current Schedule</h1>
@if (@TempData.ContainsKey("ErrorMessage"))
{
    <h3 class="text-danger">@TempData["ErrorMessage"]?.ToString()</h3>
}
<div style="float: right">
    <form method="get" asp-controller="Schedule" asp-action="Create">
        <input type="submit" value="Generate New Schedule">
    </form>
</div>

@if (Model.Count() < 1)
{
    <h4 class="text-primary">No Scheduled Assignments</h4>
}
else
{
    var dueToday = Model.Where(e => e.DueDate <= DateTime.Today).ToList();
    var dueLater = Model.Where(e => e.DueDate > DateTime.Today).ToList();

    if (dueToday.Count < 1)
    {
        <h4 class="text-primary">No Assignments Due Today</h4>
    }
    else
    {
        <h4>Assigned Tasks Due Today</h4>
        <div class="container-fluid d-flex flex-row flex-wrap">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Completed</th>
                        <th scope="col">Task</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Task Type</th>
                        <th scope="col">Frequency</th>
                        <th scope="col">Workload</th>
                        <th scope="col">Details</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
            <tbody>
            @foreach (var el in dueToday)
            {
                <tr>
                    <td>
                        @el.FullName
                    </td>
                    <td>
                        @el.Completed
                    </td>
                    <td>
                        @el.TaskDescription
                    </td>
                    <td>
                        @el.DueDate.ToShortDateString()
                    </td>
                    <td>
                        @el.TaskTypeDescription
                    </td>
                    <td>
                        @el.FrequencyDescription
                    </td>
                    <td>
                        @el.WorkloadDescription
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="Assignments" asp-route-id="@el.AssignmentID">Details</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Assignments" asp-route-id="@el.AssignmentID">Edit</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-controller="Assignments" asp-route-id="@el.AssignmentID">Delete</a>
                    </td>
                </tr>
            }
                </tbody>
            </table>
        </div>
    }
    if (dueLater.Count < 1)
    {
        <h4 class="text-primary">No Assigments Due Later This Week</h4>
    }
    else
    {
        <h4>Assigned Tasks Due Later This Week</h4>
        <div class="container-fluid d-flex flex-row flex-wrap">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Completed</th>
                        <th scope="col">Task</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Task Type</th>
                        <th scope="col">Frequency</th>
                        <th scope="col">Workload</th>
                        <th scope="col">Details</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var el in dueLater)
                    {
                        <tr>
                            <td>
                                @el.FullName
                            </td>
                            <td>
                                @el.Completed
                            </td>
                            <td>
                                @el.TaskDescription
                            </td>
                            <td>
                                @el.DueDate.ToShortDateString()
                            </td>
                            <td>
                                @el.TaskTypeDescription
                            </td>
                            <td>
                                @el.FrequencyDescription
                            </td>
                            <td>
                                @el.WorkloadDescription
                            </td>
                            <td>
                                <a asp-action="Details" asp-controller="Assignments" asp-route-id="@el.AssignmentID">Details</a>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-controller="Assignments" asp-route-id="@el.AssignmentID">Edit</a>
                            </td>
                            <td>
                                <a asp-action="Delete" asp-controller="Assignments" asp-route-id="@el.AssignmentID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
